<% if user_signed_in? %>

<table class="table table-hover table-bordered border border-dark">
  <thead class="table-dark">
    <tr>
      <th>Product name</th>
      <th>Description</th>
      <th>Size</th>
      <th>Price</th>
      <th>Comments</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>

      <% if product.user == current_user %>
      <tr>
        <td>
          <%= link_to product.product_name, product %>
        </td>
        <td><%= product.description %></td>
        <td><%= product.size %></td>
        <td><%= product.price %></td>
        <td><%= product.comments %></td>
        <td><%= link_to 'Edit', edit_product_path(product), class:"btn btn-outline-info btn-sm" %></td>
        <td><%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger btn-sm" %></td>
      </tr>
      <% end %>

    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path, class:"btn btn-secondary" %>

<% else %>
  <h1>Hello World!</h1>
  This is my first Rails Webpage...
<% end %>

<p id="notice"><%= notice %></p>

<h1>Products</h1>

    <div class="row">
  <% @products.each do |product| %>
  <div class ="col-lg-4">
  <div class="card" style="width: 13rem;">
  <img src=https://www.bestbuysoccer.com/media/catalog/product/cache/1/image/510x/602f0fa2c1f0d1ba5e241f914e856ff9/t/-/t-shirt-men-blank-cotton-tee-shirt-man-tshirts-bodybuilding-bulk-plain-chemise-white-crew-neck.jpg class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= product.product_name %></h5>
    <p class="card-text"><%= product.description %></p>

    <a href="/products/<%= product.id %>"  class="btn btn-primary">View Product</a>
  </div>
  </div>
  </div>
  <% end %>
  </div>


<%= link_to 'New Product', new_product_path %>
